@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    color: #fff;
}

body{
    background-color: #000;
}

.app{
    height: 100vh;
    background-color: #000;
    display: flex;
}


.home{
    margin: 1.7rem 5rem;
   
}

.media{
    height: 350px;
    width: 230px;
    border-radius: 15px;
    /* background-image: url("../../public/images/media1.png"); */
}

.home{
    position: relative;
    margin-left: 300px;
}

.subheader{
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
letter-spacing: 0.08em;

color: #F1F5F9;
}

/* div{
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: 500px;
    border-radius: ;
} */