@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    color: #fff;
}

.app{
    height: 100vh;
    background-color: #000;
    display: flex;
}


.home{
    margin: 4rem 4rem;
}
.addContainer{
    width: 500px;
    height: 95px;
    left: 363px;
    top: 109px;

    background: #171B1F;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
    
}
.userProfile{
    padding: 1.5rem 2rem;
}

.textField{
    background: transparent;
    border: 0;
    outline: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #64748B;
}

.icons{
    display: flex;
    align-items: center;
    margin-top:10px;
    gap: 15px;
}