.logo{
    font-weight: 400;
font-size: 5rem;
line-height: 37px;

/* identical to box height */
letter-spacing: 0.08em;

background: linear-gradient(90deg, #38B6FF 4.55%, #FFFFFF 40.19%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


}
.list{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
.listItem{
    margin: .5rem 0;
}
.listItemText{
    color: #fff;
}

.sideNav{
    height: 100vh;
    border-right: 1px solid rgba(110, 118, 125, 0.5);;
}

.navIcon{
    color : #fff
}

/* .last{
    margin-top: auto;
    margin-bottom: 0.5em;
    
} */