/*this file will be deleted asap no need for it anymore*/

/*Container styles*/
.sideNav{
    height: 100vh;
    border-right: 1px solid rgba(110, 118, 125, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

/*navigation*/
.list{
    margin-top: 1rem;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
.listItem{
    margin: .7rem 0;
}

/*logo styles*/
.logo{
    font-weight: 400;
font-size: 5rem;
line-height: 37px;

/* identical to box height */
letter-spacing: 0.08em;

background: linear-gradient(90deg, #38B6FF 4.55%, #FFFFFF 40.19%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


}




/*icons colors*/
.navIcon{
    color : #fff
}
